@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@400;700&display=swap');

html, body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Anek Tamil', sans-serif;
}

.banner{
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("picture/banner.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-bottom: 20px;
}


.card-container{
  display: grid;
  grid-template-columns: 420px 420px;
}
.card-img{
  background: url("picture/card.jpg") center/cover no-repeat;
}
.banner h2{
  padding-bottom: 40px;
  margin-bottom: 20px;
}
.card-content{
  background-color: white;
  height: 330px;
}
.card-content h3{
  text-align: center;
  color: #000;
  padding: 10px 0 10px 0;
  font-size: 26px;
  font-weight: 500;
  margin: 15px;
}
.form-row{
  display: flex;
  width: 90%;
  margin: 0 auto;
}

#textFile{
  font-size: 15px;
}

ul{
  display: inline-block;
  font-size: 15px;
  color: #000;
}

li{
  text-align: start;
  width: 100%;
}

span{
  margin-left: 20px;
}
.tempo{
  font-style: italic;
  font-size: 15px;
  color: lightgray;
}

#addAllergens{
  font-size: 20px;
}

#noAllergens{
  padding-left: 20px;
  color: lightgray;
}

form select, form input{
  display: block;
  width: 100%;
  margin: 15px 12px;
  padding: 5px;
  font-size: 15px;
  outline: none;
  border: none;
  border-bottom: 1px solid #eee;
  font-weight: 300;
}
form input[type = text], form input[type = number], form input::placeholder, select{
  color: #9a9a9a;
}

button{
  display: block;
  width: 100%;
  margin: 15px 12px;
  padding: 5px;
  font-size: 15px;
  outline: none;
  border: none;
  border-bottom: 1px solid #eee;
  font-weight: 300;
}

.add{
  color: #fff;
  background: #f2745f;
  padding: 5px 0;
  border-radius: 4px;
  cursor: pointer;
  border: solid;
}
.add:hover{
  opacity: 0.9;
}

@media(max-width: 992px){
  .card-container{
      grid-template-columns: 100%;
      width: 100vw;
  }
  .card-img{
      height: 330px;
  }
}

#notLogin{
  position: absolute;
  color: white;
  text-align: center;
  width: 100%;
  font-size: 25px;
  margin-top: 50px;
}

li{
  text-decoration: none;
  list-style-type:none;
}

.delete{
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

a{
  text-decoration: none;
  color: black;
}

.list{
  background-color: white;
}

@media (max-width: 990px){
  #logo{
    width: 30%;
    height: 30%;
}
}