@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@400;700&display=swap');

html{
	margin: 0;
  background-color: #d99a4e;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23a6754b' fill-opacity='0.3'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
html, body{
	font-family: 'Courgette', cursive;
	height: 100%;
	margin: 0;
	font-family: 'Anek Tamil', sans-serif;
}


nav{
	position: absolute; 
	height: 80px;
	width: 100%;
}

nav ul{
	float: left;
	padding-left: 20px;
	width: 95%;
}

nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

nav ul li a{
	text-decoration: none;
	color: white;
	padding: 7px 10px;
	font-size: 20px;
	border-radius: 3px;
	text-transform: uppercase;
}

a.active, a:hover{
	color: #D99A4E;
	transition: .5s;
}

.checkbtn{
	font-size: 30px;
	float: right;
	line-height: 125px;
	margin-right: 40px;
	cursor: pointer; 
	display: none;
}

#check{
	display: none;
}

.Connexion{
	float: right;
	text-decoration: none;
	color: white;
	padding: 20px 25px;
	font-size: 14px;
	border-radius: 3px;
	text-transform: uppercase;
}

.pic-ctn{
	display: none;
}

@media (max-width: 1250px){
	nav ul li a{
		font-size: 16px;
	}
	nav ul{
		width: 99%;
	}
	.Connexion{
		font-size: 12px;
	}
}

@media (max-width: 1032px){
	.checkbtn{
		display: block;
	}

	nav ul{
		width: 99%;
	}

	ul{
		position: absolute;
		width: 100%;
		height: 100vh;
		background: #A6754B;
		top: 80px;
		left: -125%;
		text-align: center;
		transition: all .5s;
	}

	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 25px;
	}

	nav ul li a{
		font-size: 25px;
	}
	.Connexion{
		font-size: 20px;
	}

	a:hover, a.active{
		background: none;
		color: #D99A4E;
	}

	#check:checked ~ ul{
		left: 0;
	}
}

#presentation{
	display: flex;
	align-items: center;
}

#discBox{
	width: 50%;
	background: #D99A4E;
	padding: 20px;
}

#description{
	width: 100%;
	display: block;
  margin-left: auto;
  margin-right: auto;
	font-size: 20px;
}

@media (max-width: 1572px){
	#discBox{
		width: 70%;
	}
	#description{
		width: 80%;
		font-size: 18px;
	}
}

@media (max-width: 1200px){
	#discBox{
		width: 80%;
	}
	#description{
		width: 90%;
		font-size: 16px;
	}
}

@media (max-width: 1040px){
	#presentation{
		display: initial;
	}
	#discBox{
		width: 100%;
	}
	#description{
		font-size: 19px;
	}
}

.pictureFlat{
	display: flex;
	width: 100%;
}

.flat{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttonImg{
	display: flex;
	flex-direction: column;
	justify-content: center; 
	align-items: center;
}

section div a{
	text-decoration: none;
	font-size: 25px;
	border: 4px solid #A6754B;
	background: #D99A4E;
	border-radius: 5px;
	color: white;
	margin: 30px;
	padding: 12px;
}

div a:hover, div a.active{
	background: none;
	color: white;
	background: #A6754B;
}

.flatOs{
margin: 40px;
box-shadow: -30px 30px 5px #A6754B;
}
.flatCarpa{
	margin: 40px;
	box-shadow: 30px -30px 5px #A6754B;
}
.flatTira{
	margin: 40px;
	box-shadow: 30px 30px 5px #A6754B;
}

@media (max-width: 1040px){

	.buttonImg{
		display: flex;
		flex-direction: row;
		justify-content: center; 
		align-items: center;
		width: 100%;
	}
	section div a{
		font-size: 25px;
		margin: 30px;
		padding: 10px;
	}

	.carousel{
		width: 40%;
		height: 100%;
	}

	.pic-ctn:checked{
		width: 100%;
		height: 100%;
	}
	
	@keyframes display {
		0% {
			transform: translateX(200px);
			opacity: 0;
		}
		10% {
			transform: translateX(0);
			opacity: 1;
		}
		20% {
			transform: translateX(0);
			opacity: 1;
		}
		30% {
			transform: translateX(-200px);
			opacity: 0;
		}
		100% {
			transform: translateX(-200px);
			opacity: 0;
		}
	}

	.flat{
		display: none;
	}
	
	.pic-ctn {
		position: relative;
		width: 100%;
		height: 100%;
		margin-top: 15vh;
		display: block;
	}
	
	.pic-ctn > img {
		position: absolute;
		top: 0;
		left: calc(50% - 100px);
		opacity: 0;
		animation: display 10s infinite;
	}
	
	img:nth-child(2) {
		animation-delay: 3s;
	}
	img:nth-child(3) {
		animation-delay: 7s;
	}
	img:nth-child(4) {
		animation-delay: 11s;
	}
	
}


footer{
	display: flex;
	padding: 20px;
	background: #A6754B;
}

footer div {
display: flex;
flex-direction: column;

}

.contact{
	margin-left: 20%;
}

footer div a {
	text-decoration: none;
	color: white;
	padding: 5px 15px; 
	font-size: 15px;
}
footer div a:hover{
	color: #D99A4E;
	transition: .5s;
}

	.arrow{
		display: flex;
		justify-content: center;	
		width: 50%; 
	}

#top{
	float: right;
}


/* menu */
header{
	position: absolute;
}
header img{
	margin: 20px;
}

section{
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: row;
}
